@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
 scroll-behavior: smooth;   
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
   text-decoration: none; 
   position: relative;
   transition: opacity 300ms ease;
}

a:hover {
  opacity: 0.7;  
}

.link__hover-effect:after {
content: "";
position: absolute;
height: 3px;
background-color: black;
width: 0;
bottom: -3px;
left: 0;
transition: all 300ms ease;
}

.link__hover-effect--white:after {
    background-color: white;
}
.link__hover-effect--black:after {
    background-color: black;
}

.link__hover-effect:hover:after {
 width: 100%; 
 right: 0;  
}

li {
  list-style-type: none;  
}

.flex {
    display: flex;
}

.flex-1 {
flex: 1;
}

.container {
    padding: 50px 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.row {
width: 100%;
max-width: 800px;
margin: 0 auto;
padding: 0 12px;
}

.text--purple {
    color: #6030b1;
}

.container:nth-child(even) {
    background-color: #f8f8f8;
}

.section__title {
 margin-bottom: 20px;   
}

/* Navigation Bar */

.nav {
height: 100px;
width: 100%;
max-width: 1200px; 
margin: 0 auto;  
display: flex;
justify-content: flex-end;
align-items: center;
padding: 0 12px;
font-weight: 700;
}

.nav__link--list {
display: flex;
}

.nav__link--anchor {
    margin: 0 16px;
    color: black;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.5;
}

.nav__link--anchor-primary {
  background-color: #6030b1;
  padding: 8px 20px;
  border-radius: 50%;
  color: white;
  transition: all 300ms ease; 
}

.nav__link--anchor-primary:hover {
background-color: #ff85d8;
}

.personal__logo {
position: absolute;
top: 20px;
left: 20px;
font-size: 24px;
color: #6030b1;
font-weight: bold;
}

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info {
   display: flex; 
   flex-direction: column;
   align-items: center;
}

.about-me__info--container {
    flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
   max-width: 50%;
   margin: 0 auto;
   text-align: center;
}

.about-me__picture--mask {
 width: 140px;
 height: 140px;
 border-radius: 10%; 
 overflow: hidden; 
 box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
 margin-bottom: 28px;
 animation: animated-profile-picture 800ms 200ms backwards;
}

@keyframes animated-profile-picture {
 0% {
    opacity: 0;
   transform: scale(0); 
 } 
 80% {
    opacity: 1;
    transform: scale(1.1);
    }
100% {
    opacity: 1;
    transform: scale(1);
    } 
}

.about-me__picture {
    width: 100%;
    height: auto;
    transform: scale(1.5);
    object-fit: cover;

   /* Improving my own picture */
   padding-top: 0px;
}

.about-me__info--title {
  margin-bottom: 16px;
  animation: fade-up 650ms 400ms both; 
  opacity: 0;
  white-space: nowrap;
}

.about-me__info--para {
  font-size: 20px;
  margin-bottom: 28px; 
  animation: fade-up 650ms 600ms backwards;
}

.about-me__link {
font-size: 20px;
color: #242424;
padding: 0 16px;
}

@keyframes fade-up {
 0% {
    opacity: 0;
    transform: scale(0);
 } 
 80% {
    opacity: 1;
    transform: scale(1.1);
 }
 100% {
   opacity: 1;
   transform: scale(1); 
 }  
}

.about-me__img--container {   
 display: flex;
 flex: 1;
 justify-content: center;
 align-items: center;
 max-width: 600px;
 margin: 0 auto;
 text-align: center;
 max-width: 50%;
}

.about-me__img {
 max-width: 400px;
 width: 100%;
 height: auto;
 animation: fade-in 1200ms 800ms backwards;
 height: 350px;
 object-fit: contain;
}

.center-wrapper {
display: flex;
align-items: center;
justify-content: space-between;
gap: 40px;
flex-wrap: nowrap;
}

.about-me__social {
 margin-top: 20px;
 display: flex;
 gap: 14px;   
}

.about-me__social a {
display: inline-flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background: #6030b1;
color: white;
border-radius: 50%;
font-size: 20px;
text-decoration: none;
transition: transform 0.2s ease, background 0.2s ease;
}

.about-me__social a:hover {
    background: #4f2794;
    transform: translateY(-3px);
}

.indeed-icon {
    font-weight: 700;
    font-family: arial, sans-serif;
}

.wave {
    display: inline-block;
    animation: animate-wave 500ms infinite ease-in-out;
}

@keyframes animate-wave {
0% {
 transform: rotate(0);   
}
50% {
transform: rotate(30deg);    
}
100% {
    transform: rotate(0);
}
}


/* Tech-Stack */

.container__section {
    background-color: #f7f7f7;
    padding: 60px 0;
}

.language__img {
 width: 80px;
 height: 80px;
 object-fit: contain;
 transition: all 300ms ease;   
}

.language:hover .language__img {
 filter: brightness(80%);
 opacity: 0.86;
 transform: scale(0.9);   
}

.language {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 180px;
}

.language__img--wrapper {
width: 100px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;  
}

.language__list {
display: flex; 
flex-wrap: wrap;  
justify-content: center;
align-items: center;
text-align: center;
}

.language__name {
 margin-top: 10px;
 font-weight: 600;
 font-size: 20px;
 text-align: center;
 transform: scale(0);
 transition: all 300ms;
 opacity: 0;
}

.language:hover .language__name {
transform: scale(1);
opacity: 1;
}

/* PROJECTS */

.project {
 margin-bottom: 135px;   
}

.project:last-child {
margin-bottom: 40px;
}

.project__img {
 width: 100%;
 transition: all 500ms ease;   
}

.project__wrapper {
display: flex;
box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
border-radius: 20px;
overflow: hidden;
position: relative;
}

.project__wrapper::before {
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: #1c1d25;
opacity: 0;
transition: opacity 450ms ease;
z-index: 2;
}

.project:hover .project__wrapper::before {
 opacity: 0.7;   
}

.project:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__list {
padding-top: 40px;
}

.project__description {
position: absolute;
top: 50%;
left: 90px;
transform: translateY(-50%);
max-width: 550px; 
z-index: 3;
opacity: 0;
transition: transform 450ms, opacity 300ms;  
}

.project__description--title {
 font-size: 40px;   
} 

.project__description--para {
margin: 16px 0;
}

.project__description--link {
  font-size: 20px;  
  margin-right: 16px;
}

.project__description--title, 
.project__description--sub-title,
.project__description--para, 
.project__description--link {
   text-align: left;
   color: white; 
}

/* FOOTER */

.footer {
    background-color: #ffd6e8;
}
.footer__logo {
 margin-bottom: 20px;   
}

.footer__social--list {
display: flex;
gap: 100px;
justify-content: center;
align-items: center;
margin-bottom: 30px;  
}

.footer__row{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 8% 0;
}

.footer__logo--img {
 width: 70px;
 height: 70px;   
}

.footer__social--link,
.footer__copyright,
.footer__logo--popper {
color: #6030b1;
}

.footer__logo--popper {
  position: absolute; 
  right: 0; 
  top: 30px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
}

.footer__anchor {
    margin-bottom: 20px;
  position: relative;  
}

.footer__anchor:hover .footer__logo--popper {
transform: translateX(60px);
opacity: 1;
}

/* small phones, tablets, large smartphones */

@media (max-width: 768px) {
    .nav {
height: 68px;
 }

 h1 {
   font-size: 28px; 
 }

 .about-me__info--para {
    font-size: 18px;
 }

 .language {
    width: calc(100% / 2);
 }

 .project__description--para {
   font-size: 14px; 
 }

 .project__description {
    left: 30px;
    padding-right: 30px;
 }
}

/*small phones */

@media (max-width: 480px) {
.nav__link:not(:last-child) {
  display: none;  
}

.project__description {
  padding: 0;  
  left: 0;
  width: 100%;
}

.project__description--para {
display: none;
}

.project__description--links {
display: flex;
justify-content: center;
}

.project__description--title {
  line-height: 1;
  font-size: 32px;
  text-align: center;  
}

.project__description--sub-title {
   text-align: center;
   margin: 12px 0; 
}
}


